@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,600&family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,500;1,700;1,900&display=swap');
@import 'bootstrap/dist/css/bootstrap.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
}

li,
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin-bottom: 0 !important;
  background-color: transparent !important;
}

.main-header {
  align-items: center;
  padding: 5px 30px 5px 30px;
}

.bg-white {
  --bs-bg-opacity: 0 !important;
}
.navbarlist {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbaritem {
  margin-right: 20px;
}

.nav-link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #555;
}

.nav-link {
  color: #4C83BA !important;
}

.navbaritem {
  padding: 8px;
  font-size: 14px;
}

.cards {
  column-gap: 40px;
  row-gap: 20px;
}

.card {
  width: 14rem !important;
  max-width: 100% !important;
  padding: 20px;
  background-color: #f5f7f7 !important;
}

.bg-card {
  background-color: #e3edec;
}

.btn-primary {
  background-color: #4C83BA !important;
  outline: none;
  border: 0;
}

.btn {
  padding: 30px 30px;
  background-color: #4C83BA;
}

p {
  color: dimgrey;
  font-size: 16px;
}

.main-heading {
  padding: 40px;
}

.pt-40 {
  padding-top: 100px;
}

.category-heading {
  color: #4C83BA;
  font-size: 16px;
}

.profile-img {
  border-radius: 50%;
}

.pt-30 {
  padding-top: 30px;
}

.themebtns {
  width: 40px;
  height: 40px;
  border: none;
  background-color: #333;
  border-radius: 50%;
  color: white;
  border: 0;
  font-size: 20px;
  cursor: pointer ;
}

.light {
  background-color: white !important;
  color: black !important;
}

.dark {
  background-color: black !important;
  color: white !important;
}

.anim {
  transition: 1s all ease;
}

.toggleMenu {
  cursor: pointer;
  font-size: 24px;
  margin-right: 10px;
  display: none !important;
}

@media (max-width: 575px) {
  .toggleMenu{
    display: none !important;
  }
  .toggleIcon{
    display: none;
  }
}
@media (max-width: 575px) {
  .navbarlist {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    display: list-item;
    background-color: #191515;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: none;
  }
.toggleIcon{
  display: block !important;
}
.toggleMenu{
  display: none;
}
  .navbarlist.show-menu {
    display: list-item;
  }

  .navbaritem {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.navbar-container {
  background-color: transparent;
 
  position: sticky;
  transition: all 0.4s;
}

.logo-main-nav {
  padding-right: 80px !important;
}

.mobile-menu {
  margin-top: 13px;
  margin-bottom: 20px;
}

.navbar-menu {
  font-size: 17px !important;
  font-weight: 500;
  color: #002147;

}

.navbar-mobile-menu {
  padding: 0 20px;
  color: #002147;
display: flex;
}


@media(max-width:575px) {
  .navbar-mobile-menu{
    display: list-item;
  }

  .main-logo{
    display: none;
  }
}
